body {
    background-image: url("../images/image-10.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    /* display: block; */
    overflow: auto;
}

#name-flex {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    /* border:1px red solid; */
    width: 400px;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: -10px;
}

#gradient-top {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.57) 32%, rgba(0, 0, 0, 0.02) 98%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.57) 32%, rgba(0, 0, 0, 0.02) 98%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.57) 1%, rgba(0, 0, 0, 0.57) 32%, rgba(0, 0, 0, 0.02) 98%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    width: 100vw;
    margin: 0;
}

#methodize {
    margin-top: 20px;
    color: white;
    letter-spacing: 1rem;
    font-size: 38px;
    font-family: "Helvetica";
    opacity: .9;
    text-align: center;
}

#organize {
    color: white;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: .40rem;
    font-weight: light;
    opacity: .9;
    margin-left: -100px;
    /* border:1px red solid; */
}

#particles-js {
    width: 420px;
    /* border: 1px white solid; */
    height: 80px;
    margin-top: 20px;
}

#about {
    color: white;
    font-family: "Helvetica";
    line-height: 30px;
    font-size: 13.5px;
    letter-spacing: 4px;
    width: 400px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    border: 2px white solid;
}

.flex {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.button {
    margin-top: 20px;
}

button {
    height: 60px;
    width: 160px;
    border-radius: 10px;
}