body {
    background-image: url("../images/image-10.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    display: block;
    overflow: auto;
}

#top-flex {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-bottom: 20px;
    /* border: 1px red solid; */
    width: 100%;
    margin-bottom: 20px;
}

@media only screen and (max-width:768px) {
    #top-flex {
        flex-direction: column;
        margin: 0 auto;
        /* border: 1px blue solid; */
        width: 99%;
        align-items: flex-end;
    }
}

.date-time {
    position: fixed;
    color: white;
    font-family: "Helvetica";
    width: 100px;
    font-size: 11px;
    letter-spacing: .4px;
    line-height: 1.1rem;
    margin-left: 20px;
    margin-top: 20px;
    /* border: 1px red solid; */
}

@media only screen and (max-width:768px) {
    .date-time {
        position: absolute;
        text-align: center;
        margin-top: 20px;
        margin-left: -10px;
        /* border: 1px red solid; */
    }
}

#gradient-top {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.57) 32%, rgba(0, 0, 0, 0.02) 98%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.57) 32%, rgba(0, 0, 0, 0.02) 98%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.57) 32%, rgba(0, 0, 0, 0.02) 98%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    width: 100%;
    margin: 0;
}

.name {
    flex-direction: column;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .name {
        margin-top: 40px;
    }
}

#methodize {
    margin-top: 20px;
    color: white;
    letter-spacing: 1rem;
    font-size: 38px;
    font-family: "Helvetica";
    opacity: .9;
    padding-left: 10%;
    /* text-align: center; */
}

@media only screen and (max-width:768px) {
    #methodize {
        font-size: 30px;
        margin: 60px auto 0 auto;
    }
}

#organize {
    color: white;
    font-size: 12px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: .40rem;
    font-weight: light;
    opacity: .9;
    margin-left: 3px;
    margin-left: 10%;
    /* border:1px red solid; */
}

@media only screen and (max-width:768px) {
    #organize {
        font-size: 10px;
        margin: 0px auto 0 auto;
    }
}

#particles-js {
    width: 500px;
    /* border: 1px white solid; */
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width:768px) {
    #particles-js {
        width: 99%;
        margin: 0 auto;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about {
    background-color: rgba(0, 0, 0, 0.5);
    animation: 2s fade-in;
    margin-bottom: 80px;
    /* border: 1px blue; */
}

@media only screen and (max-width:768px) {
    .about {
        margin-top:40px;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
    }
}

#about-text {
    color: white;
    font-family: "Baskerville";
    line-height: 29px;
    font-size: 13.5px;
    letter-spacing: 2px;
    width: 300px;
    text-align: left;
    padding: 40px;
    padding-bottom: 50px;
    border-radius: 10px;
    /* border: 2px rgba(255,255,255,.5) solid; */
    -webkit-animation: 2s fade-in;
    -moz-animation: 2s fade-in;
    -o-animation: 2s fade-in;
    animation: 2s fade-in;
    background-color: rgba(255, 255, 255, .1)
}

.flex {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 20px;
    /* margin-bottom:20px; */
    text-align: center;
    width:100%;
}

@media only screen and (max-width){
    .button{
        margin-top:10px;
    }
}

button {
    margin: 0 auto;
    height: 60px;
    width: 170px;
    border-radius: 10px;
    font-family: "Helvetica";
    letter-spacing: 4px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bold;
    transition: .5s all;
    text-align: center;
    /* display: table-cell; */
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

button:focus {
    outline: 0;
}



.social {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items:center;
    align-content:center;
    /* padding-top:20px; */
    /* border: 1px blue solid; */
    height:100%;
    margin-bottom:100px;
}

@media only screen and (max-width:768px){
    .social{
    justify-content: center;
    }
}

.fab {
    color: white;
    font-size: 30px;
    padding-right: 20px;
    margin-top: 20px;
    /* border: 1px green solid; */
}

@media only screen and (max-width:768px){
    .fab{
    padding-right: 0;
    }
}

/* * {
        background: #000 !important;
        color: #0f0 !important;
        outline: solid #f00 1px !important;
    } */